{%extends "base.html"%}

{% load staticfiles %}
{%block search%}
{%endblock%}
{%block body%}	

			<div class = "col-md-5">
			<form enctype="multipart/form-data" role="form" action="{% url 'set_password' user.id%}" method="post">
			{% for field in form.visible_fields %}
				<div class = "form-group">
					<div class= "row">
						<div class="col-md-4">
						{{field.label_tag}}
						</div>
						<div class="col-md-2">
	 					<p class="field">{{field}} </p>
	   					{{field.errors}}
	  					</div>
	  				</div>
	  			</div>
	  		{% endfor %}

				<button type="submit" class="btn btn-success">Submit</button>
				{% csrf_token %}
			</form>
								
			</div>

{%endblock%}
{%block logout%}
{%endblock%}
